@{
    ViewData["Title"] = "Home Page";
}

<div class="content text-center">
    <h1 class="display-4">Welcome to the Tavern</h1>
    <p class="lead">Embark on a journey into the world of ASP.NET Core.</p>
</div>
